<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Grayscale - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="../static/css/styles.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" data-aos="fade-down">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Dover Poly</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#overview">Overview</a></li>
                        <li class="nav-item"><a class="nav-link" href="#analysis">Data Analysis</a></li>
                        <li class="nav-item"><a class="nav-link" href="#simulation">AI Simulation</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" data-aos="fade-up">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase" style="font-size: 35px;">Strategies to protect Endangered Species against Natural Disasters</h1>
                
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">By Hong Yi, Hubert, Michelle, and Jovian</h2>
                        <a class="btn btn-primary" href="#overview">Get Started</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Overview-->
        <section class="about-section text-center" id="overview" data-aos="fade-right">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-white mb-4">Overview</h1>
                        <p class="text-white-50">
                            Our solution ultilises 2D AI Geospatial Mapping and Simulation to carry out Predictive Analysis of Natural Disasters' Impact on Endangered Species in Biodiverse Ecosystems.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-black" id="analysis" >
            <div class="container-content px-4 px-lg-5 w-100">

                <!-- Analysis 0 -->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center" data-aos="fade-left">
                    <h1 class="text-white mb-4 title-content">How many Earthquakes,volcanoes,and Hurricanes occured in each year (1960-2018)? </h1>
                    <h3 class="fig">Figure 1</h3>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                This time-series graph represents the number of disasters that had occurred from 1960 to 2018. From the graph, we can observe that the number of natural disasters per year has significantly increased across the years. This trend is likely caused by climate change and deforestation. As disasters become more frequent, they pose a threat to endangered species therefore, it is important that we enhance our strategies to protect these endangered species.
                            </p>
                        </div>
                     </div>
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output.png" alt="..." /></div>
                    
                </div>
                
                <!-- Analysis 1 -->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center" data-aos="fade-right">
                    <h1 class="text-white mb-4 title-content">How is the Comparison of Conservation Status across Different Animal Class?</h1>
                    <h3 class="fig">Figure 2</h3>
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output1.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                The bar charts show how many species fall into different conservation status which include endangered, critically endangered, least concern, vulnerable and near threatened across four different animal classes, aves/birds, amphibias, reptiles, and mammals. From the graph, we can see that amphibias have the highest counts of endangered and critically endangered species followed by reptiles. Aves also show significant number of threatened species even thought not as many as amphibia and reptiles. Overall, this suggests that amphibias face greatest conservation challenges as many of the species fall under threatened or critically threatened.
                            </p>
                        </div>
                    </div>

                    <!-- Analysis 2 -->
                    <h3 class="fig">Figure 3</h3>
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output2.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                The bar chart gives the total number of edangered species but does not indicate the percentage of endangered species within a class. The donut chart provides a better visualisation for the distribution of the conservation status to see which classes are generally highly at risk and endangered. From the chart it can be seen taht amphibia and mammalia have the most number of endangered and critically endangered species which needs more attention to take care. 
                            </p>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Analysis 3 -->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center" data-aos="fade-left">
                    <h1 class="text-white mb-4 title-content">Which natural disasters impact each species of animals most?</h1>
                    <h3 class="fig">Figure 4</h3>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                From the donut chart, we can see that hurricanes impact the most out of all the natural disasters with more than 60% of the disaster occurances across all species.
                                Birds are affected by volcanoes and earthquakes less frequently with 2.7% and 3.1% frequency respectively.
                                The remaining species tend to get affected more by volcanoes (Average of 14.9%) compared to earthquakes (Average of 11.2%)
                            </p>
                        </div>
                    </div>
                    <!-- <p class="text-white-50 mb-0">The Donut Chart represents the frequency that each disaster type affects the different species.</p> -->
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output3.png" alt="..." /></div>
                    
                </div>
                <br>
                <!-- Analysis 4 -->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center" data-aos="fade-up">
                    <h1 class="text-white mb-4 title-content">What is the relationship between disaster impact and conservation status in general?</h1>
                    <h3 class="fig">Figure 5</h3>
                    <!-- <p class="text-white-50 mb-0">The Box Plots represents the average impact of earthquakes, volcanoes and hurricanes to animals of various conservation status.</p> -->
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output4.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                The average impacts score range from 0-1 where the higher means the disaster has higher impact. From the box plots, it can be seen that earthquake has the highest mean of the average impact compact and shortest range and intequartile range compared to other disaster. This means that the impact score of earthquake is more uniform and does not deviate much and has less variety. On the other hand, volcano has lower mean and wider range which means the data has more variety. Lastly, even though the mean of the impact of hurricane is slightly lower than volcano, hurricane has much higher frequency which relatively  make the mean of hurricane slightly lower compared to volcano.
                            </p>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Analysis 5 -->
                <div class="row gx-0 mb-8 mb-lg-8 align-items-center" data-aos="fade-left">
                    <h1 class="text-white mb-4 title-content">What are the risk levels different disasters have on different animal species?</h1>
                    <h3 class="fig">Figure 6</h3>
                    <!-- <p class="text-white-50 mb-0">The radar chart shows the percentage of high-risk that the disasters pose to each species.</p> -->
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output5.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                The radar chart shows the percentage of high-risk that the disasters pose to each species. We can observe that reptiles, amphibians and birds are the most affected by earthquakes while mammals are the most affected by hurricanes.
                                Reptiles are the most prone while mammals are the least affected across all 3 disaster types at 55.87% and 40.50% respectively.
                                Looking at the average of high-risk caused by each natural disaster, we can observe that Earthquakes pose the most risk at an average of 54.15%, followed by Hurricanes at 50.40% and finally Volcanoes at 38.39%.
                            </p>
                        </div>
                    </div>
                </div>

                 <!-- Analysis 6 -->
                 <div class="row gx-0 mb-8 mb-lg-8 align-items-center" data-aos="fade-right">
                    <h1 class="text-white mb-4 title-content">What is the comparison of each animal class in different realm?</h1>
                    <h3 class="fig">Figure 7</h3>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                Neotropical has an abundance of amphibians (539) and reptiles (519). Although birds are relatively high in the realm, they have a higher count in the Oceanian realm.
                                Mammals on the other hand, are more commonly found in the Indomalayan and Afrotropical realms.
                                Reptiles are more widely distributed compared to amphibians as shown from their count in other realms such as Indomalayan, Afrotrophical and Australasian.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output6.png" alt="..." /></div>
            
                </div>

                 <!-- Analysis 7 -->
                 <div class="row gx-0 mb-8 mb-lg-8 align-items-center" data-aos="fade-up">
                    <h1 class="text-white mb-4 title-content">What are the most affected countries by each type of natural disasters?</h1>
                    <h3 class="fig">Figure 8</h3>
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/assets/img/output7.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <p class="text-white-50 mb-0">
                                From the bar chart, we can see that countries affected by earthquakes are Indonesia, Japan, China , India which are located in Indomalayan realm. This means that earthquakes mostly occur in this indomalayan realm. On the other hand, US which is located in nearctic realm is the most affected by hurricanes followed by philippines, japan, china, and india that are located in indomalayan realm. Laslty, Indonesia that is located in indomalayan realm is the most affected by volcano followed ecuador located in neotropical realm.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <section class="projects-section bg-black " data-aos="fade-up">
            <h1 class="text-white mb-4 text-center title-content">Conclusion on the Analysis</h1>
            <p class="text-white-50 text-center conclusion">From our analysis, we can conclude that the Indomalayan realm requires the most attention as it has a high concentration of all the species which are endangered and is highly vulnerable to all 3 natural disasters types (Earthquakes, Hurricanes and Volcanoes). <br> <br> 

                More conservation efforts need to be focused on mammals and amphibians as shown Figure 3 as they have the highest percentage of endangered and critically endangered. <br> <br> 
                
                Referring to Figure 6, conservation efforts for amphibians should be focused towards volcanoes and earthquakes, for mammals and birds, it should be focused more towards earthquakes and hurricanes and for reptiles, it should be evenly focused on. <br> <br> 
                
                Meanwhile, in the Neotropical realm, conservation efforts should be focused on reducing the impact of volcanoes, particularly for reptiles and amphibians. <br> <br> 
                </p>
        </section>

        <!-- <section class="projects-section bg-black" id="simulation" data-aos="fade-right">
            <h1 class="text-white mb-4 text-center title-content">2D AI Geospatial Mapping and Simulation for Forecasting</h1>
            <p class="text-white-50 text-center">We developed a simulation that can predict natural disasters and environmental biodiversity based on past data and user input.</p>

            <div id="slider-container">
                <span class="text-white-50" >Slide to show the map</span>  <br>
                <label for="year-slider" class="text-white-50">Select Year</label>
                <input type="range" id="year-slider" min="{{ years[0] }}" max="{{ years[-1] }}" value="{{ initial_year }}" step="1">
                <span class="text-white-50", id="year-label"></span>
            </div>
            <div id="map-container" >
                <iframe id="map-frame" width="100%" height="800" srcdoc="{{ map_html|safe }}"></iframe>
            </div>
        </section> -->
        
        <section class="projects-section bg-black" id="simulation" data-aos="fade-right">
            <h1 class="text-white mb-4 text-center title-content">Disaster Data by Year</h1>
        
            <div id="slider-container">
                <label for="year-slider" class="text-white-50">Select Year</label>
                <input type="range" id="year-slider" min="{{ years[0] }}" max="{{ years[-1] }}" value="{{ initial_year }}" step="1">
                <div class="tick-marks">
                    {% for year in years %}
                    <span class = "text-white-50">{{ year }}</span> 
                    {% endfor %}
                </div>
                <span id="year-label" class="text-white-50">{{ initial_year }}</span>
            </div>
        
            <div id="map-container">
                <iframe id="map-frame" width="100%" height="800" srcdoc="{{ map_html|safe }}"></iframe>
            </div>
        </section>
        
        


        <!-- Signup-->
        <section class="signup-section" id="signup" data-aos="fade-right">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Please feel free to drop any questions on Discord!</h2>
                        <!-- SB Forms Contact Form-->
                        <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black" data-aos="fade-left">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Dover Polytechnic</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!"> contactus@sp.edu.sg</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+65 6775 1133</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50" data-aos="fade-up">
            <div class="container px-4 px-lg-5">Copyright &copy; Dover Poly 2025</div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script>
          AOS.init({
            duration: 800, 
            easing: 'ease-in-out', 
            once: true 
          });
        </script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
